@import "bootstrap";
@import 'font_awesome5_webfont';

.form-container{
  width: 60%
}
.device_buttons{
  width: 156px
}
.index_buttons{
  width: 148px
}

.btn{
  font-weight: 700 !important
}

.role_radio{
  width: 16px
}
